{{name}} Folder

<div class="row">

  <div class="col-sm-6">

    <p>{{#link-to "new-email" this class="btn-default"}}New Email{{/link-to}}</p>

    {{outlet "new-email"}}
  </div>

  <div class="col-sm-6">
    {{#each email in emails}}

    <p>{{email.author}}</p>
    <p>{{email.title}}</p>


    {{/each}}

  </div>

</div>
<br>

<button class="btn btn-default" {{action 'delete' }}>Delete Folder and All Emails</button>
