{{name}} Folder

<div class="row">

  <div class="col-sm-6">

    <p>{{#link-to "new-email" this class="btn-default"}}New Email{{/link-to}}</p>

    {{outlet "new-email"}}
  </div>

  <div class="col-sm-6">
  <h4>Emails</h4>

    {{#each email in emails}}

    {{#link-to "email" email}}
    <p>From :{{email.receiver}} Subject:{{email.title}}</p>
    <button class="btn btn-warning" {{action 'deleteEmail' email }}>Delete Email</button>
    {{/link-to}}


    {{/each}}

  </div>

</div>
<br>

{{outlet "email"}}


<button class="btn btn-default" {{action 'delete' }}>Delete Folder and All Emails</button>
