{{name}} Folder


<p>{{#link-to "new-email" this class="btn-default"}}Add Email{{/link-to}}</p>

{{outlet "new-email"}}

{{#each email in emails}}

<p>{{email.author}}</p>
<p>{{email.title}}</p>


{{/each}}


<button class="btn btn-default" {{action 'delete' }}>Remove</button>
